@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::before,
  *::after {
    border: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
  }

  body,
  html {
    @apply font-sans;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    font-size: 14px;
    scroll-behavior: smooth;
  }

  @media (min-width: 768px) {
    body,
    html {
      font-size: 16px;
    }
  }
}
